<div class="row mt-4">
  <div class="col-md-10">
    <h2 class="headbar">Update Post</h2>

    <form class="form update-project-form">
      <div class="form-group">
        <label for="project-name">Change Post title:</label>
        <input class="form-input" type="text" id="upname" name="upname" value="{{name}}"/>
      </div>
      
      <div class="form-group">
        <label for="project-desc">Change Post content:</label>
        <textarea class="form-input" id="updesc" name="updesc">{{description}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      <input id="project-id" type="hidden" value="{{id}}"/>
    </form>
  </div>


</div>

<script src="/js/update.js"></script>


