<div class="row mt-4">
  <div class="col-md-6">
    <h2 class="headbar">Update a Post</h2>

    <form class="form update-project-form">
      <div class="form-group">
        <label for="project-name">Change Post title:</label>
        <input class="form-input" type="text" id="new-project-name" name="project-name" />
      </div>
      
      <div class="form-group">
        <label for="project-desc">Change Post content:</label>
        <textarea class="form-input" id="new-project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>


</div>

<script src="/js/profile.js"></script>